<%= form_for(@partial) do |f| %>
  <% if @partial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partial.errors.count, "error") %> prohibited this partial from being saved:</h2>

      <ul>
      <% @partial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f_customer_id %><br>
    <%= f.number_field :f_customer_id %>
  </div>
  <div class="field">
    <%= f.label :s_customer_id %><br>
    <%= f.number_field :s_customer_id %>
  </div>
  <div class="field">
    <%= f.label :t_customer_id %><br>
    <%= f.number_field :t_customer_id %>
  </div>
  <div class="field">
    <%= f.label :partial_html %><br>
    <%= f.text_area :partial_html %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
